@font-face {
    font-family: 'iconfont';  /* Project id 2647107 */
    src: url('//at.alicdn.com/t/font_2647107_63xkksjod6k.woff2?t=1625195038404') format('woff2'),
         url('//at.alicdn.com/t/font_2647107_63xkksjod6k.woff?t=1625195038404') format('woff'),
         url('//at.alicdn.com/t/font_2647107_63xkksjod6k.ttf?t=1625195038404') format('truetype');
  }

[class*='lityic-'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lityic-arrow-down:before {
  content: "\e645";
}

.lityic-arrow-right:before {
  content: "\e646";
}

.lityic-arrow-up:before {
  content: "\e647";
}

.lityic-check-square-fill:before {
  content: "\e648";
}

.lityic-check_fill:before {
  content: "\e649";
}

.lityic-collect_fill:before {
  content: "\e64a";
}

.lityic-close_fill:before {
  content: "\e64b";
}

.lityic-change:before {
  content: "\e64c";
}

.lityic-collect:before {
  content: "\e64d";
}

.lityic-contract-upload:before {
  content: "\e64e";
}

.lityic-calendar:before {
  content: "\e64f";
}

.lityic-contract-record:before {
  content: "\e650";
}

.lityic-close:before {
  content: "\e651";
}

.lityic-calendar-fill:before {
  content: "\e652";
}

.lityic-download:before {
  content: "\e653";
}

.lityic-arrow-left:before {
  content: "\e654";
}

.lityic-file:before {
  content: "\e655";
}

.lityic-contract-view:before {
  content: "\e656";
}

.lityic-house-fill:before {
  content: "\e657";
}

.lityic-house-input:before {
  content: "\e658";
}

.lityic-data-arrow-down:before {
  content: "\e659";
}

.lityic-data-arrow-up:before {
  content: "\e65a";
}

.lityic-icon_list_down:before {
  content: "\e65b";
}

.lityic-info-circle:before {
  content: "\e65c";
}

.lityic-IM_fill:before {
  content: "\e65d";
}

.lityic-bfq-bofang1x1:before {
  content: "\e65e";
}

.lityic-info-fill:before {
  content: "\e65f";
}

.lityic-attachment:before {
  content: "\e660";
}

.lityic-contract-change:before {
  content: "\e661";
}

.lityic-check:before {
  content: "\e662";
}

.lityic-bfq-mute:before {
  content: "\e663";
}

.lityic-loading:before {
  content: "\e664";
}

.lityic-house:before {
  content: "\e665";
}

.lityic-location:before {
  content: "\e666";
}

.lityic-grouping:before {
  content: "\e667";
}

.lityic-list-fill:before {
  content: "\e668";
}

.lityic-house-waitproof-fill:before {
  content: "\e669";
}

.lityic-close-circle:before {
  content: "\e66a";
}

.lityic-contract-cancel:before {
  content: "\e66b";
}

.lityic-more-fill:before {
  content: "\e66c";
}

.lityic-check-circle:before {
  content: "\e66d";
}

.lityic-minus:before {
  content: "\e66e";
}

.lityic-house-input-fill:before {
  content: "\e66f";
}

.lityic-nav-manage:before {
  content: "\e670";
}

.lityic-retry:before {
  content: "\e671";
}

.lityic-location-fill:before {
  content: "\e672";
}

.lityic-im:before {
  content: "\e673";
}

.lityic-icon_list_up:before {
  content: "\e674";
}

.lityic-bfq-zanting1x1:before {
  content: "\e675";
}

.lityic-list:before {
  content: "\e676";
}

.lityic-mute:before {
  content: "\e677";
}

.lityic-pic:before {
  content: "\e678";
}

.lityic-play-fill:before {
  content: "\e679";
}

.lityic-recommenderror:before {
  content: "\e67a";
}

.lityic-house-waitproof:before {
  content: "\e67b";
}

.lityic-recommenderror-fill:before {
  content: "\e67c";
}

.lityic-plus:before {
  content: "\e67d";
}

.lityic-more-circle:before {
  content: "\e67e";
}

.lityic-message:before {
  content: "\e67f";
}

.lityic-money:before {
  content: "\e680";
}

.lityic-bfq-yinliang:before {
  content: "\e681";
}

.lityic-search-reduce:before {
  content: "\e682";
}

.lityic-time-fill:before {
  content: "\e683";
}

.lityic-nav-fujiaxiang:before {
  content: "\e684";
}

.lityic-refund:before {
  content: "\e685";
}

.lityic-minus-fill:before {
  content: "\e686";
}

.lityic-mute-fill:before {
  content: "\e687";
}

.lityic-plus-fill:before {
  content: "\e688";
}

.lityic-password:before {
  content: "\e689";
}

.lityic-plus-circle:before {
  content: "\e68a";
}

.lityic-question-fill:before {
  content: "\e68b";
}

.lityic-recommendright:before {
  content: "\e68c";
}

.lityic-invoice:before {
  content: "\e68d";
}

.lityic-search-plus:before {
  content: "\e68e";
}

.lityic-message-fill:before {
  content: "\e68f";
}

.lityic-warming-fill:before {
  content: "\e690";
}

.lityic-warning-circle:before {
  content: "\e691";
}

.lityic-junzhi:before {
  content: "\e692";
}

.lityic-rotate-right:before {
  content: "\e693";
}

.lityic-pause:before {
  content: "\e694";
}

.lityic-play:before {
  content: "\e695";
}

.lityic-nav-tag:before {
  content: "\e696";
}

.lityic-recommendright-fill:before {
  content: "\e697";
}

.lityic-pause-fill:before {
  content: "\e698";
}

.lityic-edit:before {
  content: "\e699";
}

.lityic-tel:before {
  content: "\e69a";
}

.lityic-search:before {
  content: "\e69b";
}

.lityic-volume:before {
  content: "\e69c";
}

.lityic-tel-fill:before {
  content: "\e69d";
}

.lityic-question-circle:before {
  content: "\e69e";
}

.lityic-pic-fill:before {
  content: "\e69f";
}

.lityic-upload:before {
  content: "\e6a0";
}

.lityic-volume-fill:before {
  content: "\e6a1";
}

.lityic-receipt:before {
  content: "\e6a2";
}

.lityic-minus-circle:before {
  content: "\e6a3";
}

.lityic-password-fill:before {
  content: "\e6a4";
}

.lityic-rotate-left:before {
  content: "\e6a5";
}

.lityic-time:before {
  content: "\e6a6";
}

